@import '../../styles/var';
.rc-input-group {
  border: 1px solid $color_border;
  border-radius: $radius;
  font-size: 14px;
  transition: all 0.2s;
  width: 200px;
  overflow: hidden;
  padding: $padding/2 $padding;
  &.focus {
    border-color: $color_light;
  }
  input {
    background-color: transparent;
    overflow: hidden;
    border: none;
    outline: none;
    font-size: inherit;
    transition: all 0.4s $animation;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    &::-webkit-input-placeholder {
      color: $color_light;
    }
  }
}

// input::-webkit-input-placeholder {
//   color: red;
// }
// input::-moz-placeholder {
//   /* Mozilla Firefox 19+ */
//   color: red;
// }
// input:-moz-placeholder {
//   /* Mozilla Firefox 4 to 18 */
//   color: red;
// }