@import '../../styles/var.scss';
.rc-button {
  background-color: transparent;
  padding: $padding/2 $padding;
  border-radius: $radius;
  color: $color_gray;
  .rc-button-content {
    position: relative;
    background-color: inherit;
    padding: inherit;
    border-radius: inherit;
    color: inherit;
    transition: background 0.2s $animation;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    &:hover {
      background-color: rgba(#000, 0.1);
    }
    &:active {
      &:after {
        opacity: 1;
        width: 100%;
        border-radius: inherit;
      }
    }
    &.in {
      &:after {
        animation: animation_in .8s $animationFadeOut;
      }
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 100%;
      border-radius: 0;
      background-color: rgba(white, 0.55);
      transition: all 1.8s $animationFadeOut;
      opacity: 0.1;
      z-index: 10; // &.in {
      //   animation: animation_in .8s $animationFadeOut; // opacity: 1;
      //   // width: 100%;
      // }
    }
  }
}

@keyframes animation_in {
  0% {
    opacity: 0.1;
    width: 0;
  }
  5% {
    opacity: 1;
    width: 0;
  }
  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes animation_active {
  0% {
    opacity: 0.1;
    width: 0;
  }
  5% {
    opacity: 1;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 100%;
  }
}