@import './var';
#app {
  position: relative;
}

.full-screen {
  min-width: 100%;
  min-height: 100%;
}

// text ----------------------
.text-main {
  color: $color_main;
}

.text-default {
  color: $color_default
}

.text-gray {
  color: $color_gray
}

.text-light {
  color: $color_light
}

.text-white {
  color: white;
}

// font-size ------------------
@for $i from 10 through 48 {
  .fs-#{$i} {
    font-size: #{$i}px;
  }
}