@import'./var.scss';
.layout {
  padding-top: $height_header + $padding;
  @media #{$max_xs} {
    padding-top: $height_header + $xs_padding;
  }
  .container {
    margin: 0 auto;
    max-width: $width_container;
    padding: 0 $padding;
    @media #{$max_xs} {
      padding: 0 $xs_padding;
    }
  }
}

.flex {
  display: flex;
  &.row {
    flex-direction: row;
  }
  &.column {
    flex-direction: column;
  }
  &.center {
    justify-content: center;
    align-items: center;
  }
  &.center-h {
    justify-content: center;
  }
  &.center-v {
    align-items: center;
  }
  &.between {
    justify-content: space-between;
  }
  .flex-none {
    flex: none;
  }
  @for $i from 1 through 12 {
    .flex-#{$i} {
      flex: #{$i};
    }
  }
}