@import'./var.scss';
.layout {
  padding-top: $height_header + $padding;
  .container {
    margin: 0 auto;
    max-width: $width_container;
  }
  .flex {
    display: flex;
    &.row {
      flex-direction: row;
    }
    &.column {
      flex-direction: column;
    }
    &.center {
      justify-content: center;
      align-items: center;
    }
    &.center-h {
      justify-content: center;
    }
    &.center-v {
      align-items: center;
    }
    .flex1 {
      flex: 1;
    }
    .flex-none {
      flex: none;
    }
  }
}