@import './var.scss';
html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: $color_background;
  color: $color_default;
  font-family: 'Fira Code, Menlo, Monaco, Ubuntu Mono, Microsoft Yahei';
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: $color_gray;
  transition: color 0.2s;
  &:hover {
    color: $color_default;
  }
}