@import '../../styles/var';
.nav-bar {
  background-color: $color_header;
  overflow: hidden;
  box-shadow: $shadow;
  padding: 0 $padding;
  // border-bottom: 1px solid $color_border;
  .container {
    height: $height_header;
    .logo {
      $size: 36px;
      width: $size;
      height: $size;
      color: $color_main;
      margin-right: 8px;
    }
  }
  @media #{$max_xs} {
    background-color: $color_black;
  }
}