@import '../../styles/var';
.nav-bar {
  background-color: $color_header;
  overflow: hidden;
  box-shadow: $shadow_sm;
  padding: 0 $padding;
  .container {
    height: $height_header;
    .logo {
      font-size: 28px;
      width: 30px;
      height: 30px;
      color: $color_main;
    }
  }
  @media #{$max_xs} {
    background-color: #000;
  }
}