@import '../../../styles/var';
.articles-list-item {
  position: relative;
  overflow: hidden;
  .item-background {
    $blur: 2px;
    position: absolute;
    background-size: cover;
    left: -$blur;
    right: -$blur;
    top: -$blur;
    bottom: -$blur;
    z-index: 0;
    filter: blur($blur);
    opacity: 0.15;
    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      background-color: rgba(#fff, 0.45);
      left: inherit;
      top: inherit;
      right: inherit;
      bottom: inherit;
    }
  }
  .item-content {
    position: relative;
    z-index: 2;
    .title {
      color: $color_dark;
      &:hover {
        color: $color_gray;
      }
    }
  }
}