<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="theme-color" content="#3c4859">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <title>
    <%= title %> -
      <%= subTitle %>
  </title>
  <link rel="stylesheet" href="//at.alicdn.com/t/font_599565_di4jqkp3bx83erk9.css">
</head>

<body>
</body>

</html>